@media(max-width: 1024px) {
    .caixa-principal{
        padding: 20px;
    }
    .caixa-principal {
        text-align: center;
        margin-top: 130px;
    }

    .caixa-principal .qr-code {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caixa-principal .qr-code img{
        width: 330px;
        padding: 15px;
        border-radius: 7%;
        margin-left: -16px;
        margin-top: -14px;
    }

    .caixa-principal .qr-code .informacoes {
        align-items: center;
        margin-top: -12px;
        margin-left: -17px;
        justify-content: center;
        text-align: center;
    }
}

@media(max-width: 375px) {
    .caixa-principal{
        height: 490px;
        width: 310px;
        padding: 5px;
        margin-top: 140px;
    }

    .caixa-principal .qr-code{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caixa-principal .qr-code img{
        width: 310px;
        padding: 13px;
        margin-left: -5px;
        margin-top: -1px;
    }

    .caixa-principal .qr-code .informacoes {
    padding: 20px;
    align-items: center;
    margin-top: -6px;
    margin-left: -8px;
    justify-content: center;
    text-align: center;
    }

    .caixa-principal .qr-code .informacoes .informacao-principal {
    font-size: 20px;
    }

    .caixa-principal .qr-code .informacoes .descricao {
    font-size: 16px;
    }
}
